In [277]:
import numpy as np
import pandas as pd
import os

In [327]:
#Set the paths
registered_business_path = os.path.join('Cleaned Datasets', 'cleaned_registered_food_services.csv')
health_scores_path = os.path.join('Cleaned Datasets', 'health_scores.csv')

geocoded_registered_business_path = os.path.join('Cleaned Datasets', 'addresses-2018.csv')
geocoded_health_scores_path = os.path.join('Cleaned Datasets', 'geocoded_health_scores_addresses-2018.csv')

#Read in the csvs
registered_business_df = pd.read_csv(registered_business_path)
health_scores_df = pd.read_csv(health_scores_path)

geocoded_rb_df = pd.read_csv(geocoded_registered_business_path)
geocoded_hs_df = pd.read_csv(geocoded_health_scores_path)

len(registered_business_df)

10104

In [335]:
geocoded_registered_business_path = os.path.join('addresses-business-end-date-2018.csv')
df = pd.read_csv(geocoded_registered_business_path)

df = df.dropna(subset=['formatted_address'])
df = df.drop_duplicates(subset=['google_place_id'], keep='first').reset_index(drop=True)
len(df)

786

In [333]:
registered_business_df = registered_business_df[registered_business_df['business_end_date'].notnull()]
len(registered_business_df)

registered_business_df.sort_values('business_start_date')
list_a = registered_business_df['business_name'].unique()
len(list_a)
# df = pd.DataFrame(list_a)

1554

In [313]:
#Clean up the geocode files for health score
geocoded_hs_df = geocoded_hs_df.drop_duplicates(subset=['google_place_id'], keep='first').reset_index(drop=True)
geocoded_hs_df = geocoded_hs_df.dropna(subset=['formatted_address'])

#Clean up the geocode files for registered businesses
geocoded_rb_df = geocoded_rb_df.drop_duplicates(subset=['google_place_id'], keep='first').reset_index(drop=True)
geocoded_rb_df = geocoded_rb_df.dropna(subset=['formatted_address'])


# path = os.path.join('Cleaned Datasets', 'test.csv')
# geocoded_hs_df.to_csv(path, index=False)

In [314]:
len(geocoded_rb_df)

4885

In [315]:
len(registered_business_df)

10104

1150

## Merge Registered Businesses Dataset with Geocodes

In [316]:
#Merge the registered business df with the geocodes to get unique location id
merge_registered_business_df = registered_business_df.merge(geocoded_rb_df, left_on='street_address', right_on='input_string')
# merge_registered_business_df.columns.values

In [317]:
# path = os.path.join('Cleaned Datasets', 'matched.csv')
# merge_registered_business_df.to_csv(path, index=False)

len(merge_registered_business_df)
# merge_registered_business_df.head()

3742

In [303]:
merge_registered_business_df.columns.values

array(['location_id', 'ownership_name', 'business_name', 'category',
       'lic_code', 'street_address', 'State', 'City', 'zipcode',
       'business_start_date', 'business_end_date', 'neighborhoods',
       'business_location', 'supervisor_district', 'Lifespan', 'closed',
       'age_if_opened', 'accuracy', 'formatted_address',
       'google_place_id', 'input_string', 'latitude', 'longitude',
       'number_of_results', 'postcode', 'status', 'type'], dtype=object)

In [318]:
#Get columns we need
merge_registered_business_df = merge_registered_business_df[['location_id', 'ownership_name', 'business_name', 'category',
                            'lic_code', 'street_address', 'State', 'City', 'zipcode', 
                            'business_start_date', 'business_end_date', 'neighborhoods', 'business_location',
                            'supervisor_district', 'Lifespan', 'formatted_address', 'google_place_id', 'latitude', 'longitude', 'closed', 'age_if_opened']]

merge_registered_business_df.head(20)

#Add a new column to filter out first word in restaurants' name
merge_registered_business_df['formatted_name'] = merge_registered_business_df['business_name'].apply(lambda x: x.split(' ', 1)[0].lower())

In [319]:
merge_registered_business_df.head()

,location_id,ownership_name,business_name,category,lic_code,street_address,State,City,zipcode,business_start_date,...,business_location,supervisor_district,Lifespan,formatted_address,google_place_id,latitude,longitude,closed,age_if_opened,formatted_name
0,1173752-12-171,Yo-Kai Express Inc.,Yo-Kai Express Inc.,Food Services,NaN,135 4th St Ste 4000,CA,San Francisco,94103.0,12/28/2017,...,NaN,6.0,NaN,"135 4th St #4000, San Francisco, CA 94103, USA",Ei40MDAwLCAxMzUgNHRoIFN0LCBTYW4gRnJhbmNpc2NvLC...,37.784332,-122.403366,no,215.0,yo-kai
1,1173848-12-171,Global Express Inc.,Kafal,Food Services,NaN,425 Elis St,CA,San Francisco,94102.0,12/28/2017,...,NaN,6.0,NaN,"425 Ellis St, New Britain, CT 06051, USA",ChIJoxnKqqWz54kR0sUwCIP5nP0,41.658344,-72.765764,no,215.0,kafal
2,0308034-01-001,Grandeho's Inc,Sunflower Restaurant,Food Services,"Restaurant Less Than 1,000 Sqft",3111 16th St,CA,San Francisco,94103.0,07/01/1997,...,"3111 16TH ST\nSan Francisco, CA 94103\n(37.764...",8.0,NaN,"3111 16th St, San Francisco, CA 94103, USA",ChIJtfptQyJ-j4ARFoWD1CsdFpE,37.764769,-122.422351,no,7700.0,sunflower
3,0343504-01-001,East-West Holdings Inc,Burma Super Star Restaurant,Food Services,"Restaurant 1,000 - 2,000 Sqft",309 Clement St,CA,San Francisco,94118.0,03/01/2001,...,"309 CLEMENT ST\nSan Francisco, CA 94118\n(37.7...",1.0,NaN,"309 Clement St, San Francisco, CA 94118, USA",ChIJ7Tyh4TuHhYARdYpz0QD1nCk,37.782818,-122.462536,no,6361.0,burma
4,1173890-12-171,Ijsy World Kitchen Inc,Ike's Kitchen,Food Services,"Restaurant Greater Than 2,000 Sqft",800 Van Ness Ave Bldg,CA,San Francisco,94109.0,12/21/2017,...,NaN,6.0,NaN,"800 Van Ness Ave, San Francisco, CA 94109, USA",ChIJrVJzEJeAhYAR-n1omLJc5OA,37.783075,-122.420616,no,222.0,ike's

In [286]:
path = os.path.join('Cleaned Datasets', 'matched.csv')
merge_registered_business_df.to_csv(path, index=False)

## Merge HealthScores Dataset with Geocodes

In [320]:
#Merge the healthscores  df with the geocodes to get unique location id
merge_health_scores_df = health_scores_df.merge(gecoded_hs_df, left_on='address', right_on='input_string')

#Drop the rows where formatted address is null
merge_health_scores_df = merge_health_scores_df.dropna(subset=['formatted_address'])
len(merge_health_scores_df)

3914

In [321]:
#get the columns we need
merge_health_scores_df = merge_health_scores_df[['business_id', 'name', 'score', 'year', 'formatted_address']]

#drop the restaurants who are in the same location
#merge_health_scores_df = merge_health_scores_df.drop_duplicates(subset=['formatted_address', 'year'], keep=False)

#drop restaurants who don't have a health score
merge_health_scores_df = merge_health_scores_df.dropna(subset=['score'])

#Add a new column to filter out first word in restaurants' name
merge_health_scores_df['formatted_name'] = merge_health_scores_df['name'].apply(lambda x: x.split(' ', 1)[0].lower())


path = os.path.join('Cleaned Datasets', 'health_matched.csv')
merge_health_scores_df.to_csv(path, index=False)

## Merge registered business and health scores

In [323]:
#Merge the two files to see if there are any matches
merged_df = merge_registered_business_df.merge(merge_health_scores_df, left_on=['formatted_address', 'formatted_name'], right_on=['formatted_address', 'formatted_name'] )
len(merged_df)
# merged_df.head(20)

1242

In [324]:
path = os.path.join('Cleaned Datasets', 'final-merged.csv')
merged_df.to_csv(path, index=False)